<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="stylesheet" href="{{ "build/app.css" }}">
</head>
<body>
{% block body %}{% endblock %}
{% block javascripts %}
    <!-- Include the compiled script-->
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
